body{
	font-family:sans-serif;
}

form{
	display: table;
}

div.tableRow {
	display: table-row;
}

div.tableRow p {
	display: table-cell;
	vertical-align: top;
	padding: 8px;
}
div.tableRow p:first-child {
	text-align: left;
}




