
body{
	padding:20px;
	background-color:#f6f5ec;
}

div.main{
	position:absolute;
	top:50px;
	background-color:white;
	width:800px;
	height:1500px;
}

ul, li{
	padding:0px;
    width: 120px;
	text-align:left;
	list-style-type: none;
	height: 40px;
    line-height: 40px;
}


#navigation{
	position:fixed;
	top:0px;
}

#navigation li{
    position: relative;
}


#navigation li ul{
    display: none;
    position: absolute;
	background:white;
}

a{text-decoration: none;color: #000;}